# Some Basic Python Commands and Functionalities

In [1]:
# As one who mostly used Matlab in the past, I created this notepad based on the Python crash course in a
# Udemy course I took, just to keep track of some of the key differences in the languages.

# Contents

## Section 1: Mathematical Operations

## Section 2: Strings
### 2.1: Definition, Printing and Concatenation
### 2.2: Grabbing Parts of a String
### 2.3: Splitting Strings

## Section 3: Lists, Dictionaries, Tuples and Sets
### 3.1: Lists
#### 3.1.1: Appending, Popping and Concatenating
#### 3.1.2: Length and a Convenient Trick
### 3.2: Dictionaries
### 3.3: Tuples and Sets

## Section 4: Booleans, If-Statements, For-Loops, and While-Loops
### 4.1: Booleans
### 4.2: Membership Booleans ("in")
### 4.3: If, Elif and Else Statements
### 4.4: Loops: For and While Loops

## Section 5: Range, Tuple Unpacking and List Comprehension
### 5.1: Range
### 5.2: Tuple Unpacking
### 5.3: List Comprehension

## Section 6: Functions (Declaration, Mapping, Lambda Expressions and Filters)
### 6.1: Defining Functions
### 6.2: Mapping
### 6.3 Lambda Expressions: Mapping and Filters

## Section 7: Miscellany

##  Section 1: Mathematical Operations

In [2]:
# Exponentiation is given by "**"
4**5

1024

In [3]:
# The "^" symbol actually performs the bit-wise xor operation on integers (converting both integers to binary and creating a
# new binary number by having a 1 in a position if and only if the two binary strings differ in those positions):
print("Binary Representation of 23:",bin(23))
print("Binary Representation of 9:  ",bin(9))
print(" " * 30, 11110, "\n")
print("Therefore, 23^9 = ", 23^9, "because the binary representation of 30 is",bin(30))

Binary Representation of 23: 0b10111
Binary Representation of 9:   0b1001
                               11110

Therefore, 23^9 =  30 because the binary representation of 30 is 0b11110

In [4]:
# Modulus: Taking the modulus of a number modulo n, with representative in {0,1,...,n}, is given by %n
print("100 modulo 17 is given by 100%17, which gives ", 100%17)

100 modulo 17 is given by 100%17, which gives  15

## Section 2: Strings

### 2.1: Definition, Printing and Concatenation

In [5]:
# Strings can be entered using single or double quotes:
string1 = 'Here is a string.'
string2 = "Here is a string."
print(string1)
print(string2)
# Both are equivalent:
string1 == string2

Here is a string.
Here is a string.

True

In [6]:
# One can print multiple "things" (strings, numbers, lists, etc.) together in a single print command, separating by commas:
str1 = "Word"
str2 = "another..."
print(str1, 12.3, str2, "(yet another)")

Word 12.3 another... (yet another)

In [7]:
# The comma allows for multiple outputs for print, but this just creates a tuple (we'll see these soon):
strs1And2WithComma = str1,str2
print(strs1And2WithComma)

('Word', 'another...')

In [8]:
# Concatenation: To actually concatenate the strings, use "+"
newString = str1 + str2
print(newString)

Wordanother...

In [9]:
# In a print statement, if one wants to insert strings and numbers defined by variables, one does so by insertin "{}" in 
# the statement, then using .format() with the assignments in order in parentheses.
number = 3.14
string = "Apple"
print('Here is a number {} and here is a string "{}"'.format(number,string))
# The order is taken from left-to-right (so the order matters)
print('Here is a number {} and here is a string "{}"'.format(string,number))

Here is a number 3.14 and here is a string "Apple"
Here is a number Apple and here is a string "3.14"

In [10]:
# Note: it may be easier to read the print statement by assigning names to the curly braces (notice: the order doesn't 
# matter now since it's pinned down by the names):
print('Here is a number {firstIns} and here is a string "{secondIns}"'.format(firstIns = number,secondIns = string))
print('Here is a number {firstIns} and here is a string "{secondIns}"'.format(secondIns = string,firstIns = number))
# The assignments can also be performed locally:
print('Here is a number {firstIns} and here is a string "{secondIns}"'.format(firstIns = 203,secondIns = "created"))

Here is a number 3.14 and here is a string "Apple"
Here is a number 3.14 and here is a string "Apple"
Here is a number 203 and here is a string "created"

### 2.2: Grabbing Parts of a String

In [11]:
# Let's define a string:
s = "Here is a string to work with. Let's make it a bit longer. #strings #seeminglygratuitoustweets"
print(s)

Here is a string to work with. Let's make it a bit longer. #strings #seeminglygratuitoustweets

In [12]:
# One can grab from the string. Say we want the third character:
s[3]

'e'

In [13]:
# Note: indexing in Python starts at zero. So the first character, which is H, is at index 0:
s[0]

'H'

In [14]:
# One can also grab "slices" of a string (i.e. a substring with indices in a range)
s[3:6]
# Note: for s[start:end], we extract the substring for all indices in the range [start,end) (we don't include the last!)

'e i'

In [15]:
# There are open-ended slices. To take all indices up to and excluding n, one uses [:n]. For example,
s[:7]

'Here is'

In [16]:
# Conversely, one can use [n:] to take all indices from n (inclusive) onwards. For example,
s[3:]

"e is a string to work with. Let's make it a bit longer. #strings #seeminglygratuitoustweets"

### 2.3: Splitting Strings

In [17]:
# The "method" .split() will split a string by white spaces:
s.split()
# This actually produces a "list" of strings. Lists will be covered shortly, but this is really just an indexed collection of
# strings that can be called by grabbing.

['Here',
 'is',
 'a',
 'string',
 'to',
 'work',
 'with.',
 "Let's",
 'make',
 'it',
 'a',
 'bit',
 'longer.',
 '#strings',
 '#seeminglygratuitoustweets']

In [18]:
s.split()[0]
# This picks out the first contiguous substring up to the first space

'Here'

In [19]:
s.split()[1:4]
# This returns the list of the second, third and fourth (indices 1, 2 and 3) of the split list

['is', 'a', 'string']

In [20]:
# We can also split on characters. For example, splitting on periods (".") splits up sentences:
s.split(".")

['Here is a string to work with',
 " Let's make it a bit longer",
 ' #strings #seeminglygratuitoustweets']

In [21]:
# One could also obtain the hashtags (assuming they all appear at the end):
s.split("#")[1:]

['strings ', 'seeminglygratuitoustweets']

# Section 3: Lists, Dictionaries, Tuples and Sets

### 3.1: Lists

In [22]:
# Format: enclosed in brackets and separated by commas

In [23]:
l = [1,2,3,'word',3.1,[1,'a',5,[1,2,3],'xyz']]
print(l)

[1, 2, 3, 'word', 3.1, [1, 'a', 5, [1, 2, 3], 'xyz']]

In [24]:
# We can grab elements in a similar way to strings:

In [25]:
print(l[0])
print(l[3])
print(l[5])

1
word
[1, 'a', 5, [1, 2, 3], 'xyz']

In [26]:
# Note: l[5] is a list. We can dive deeper (in index levels):
print(l[5][0])
print(l[5][1])
print(l[5][3])

1
a
[1, 2, 3]

In [27]:
# A remark on indexing: negative indices can be used to traverse backwards. e.g l[-1] returns the last element of the list:
l[-1]

[1, 'a', 5, [1, 2, 3], 'xyz']

In [28]:
# Slicing works the same way as for strings:
print("Here's l:      ",l)
print("Here's l[:5]:  ",l[:5])
print("Here's l[3:]:  ",l[3:])
print("Here's l[2:4]: ",l[2:4])

Here's l:       [1, 2, 3, 'word', 3.1, [1, 'a', 5, [1, 2, 3], 'xyz']]
Here's l[:5]:   [1, 2, 3, 'word', 3.1]
Here's l[3:]:   ['word', 3.1, [1, 'a', 5, [1, 2, 3], 'xyz']]
Here's l[2:4]:  [3, 'word']

#### 3.1.1: Appending, Popping and Concatenating

In [29]:
seqList = [0,1,2,3,4,5,6]
print(seqList)

[0, 1, 2, 3, 4, 5, 6]

In [30]:
# One can re-assign values as expected:
seqList[3]='something'
print(seqList)

[0, 1, 2, 'something', 4, 5, 6]

In [31]:
# We can also append to the list using the .append() method:
seqList.append(12)

In [32]:
print(seqList)

[0, 1, 2, 'something', 4, 5, 6, 12]

In [33]:
# Conversely, we can remove the last element using the .pop() method:
seqList.pop()
print(seqList)

[0, 1, 2, 'something', 4, 5, 6]

In [34]:
# By default, .pop() removes the last element. We can specify the index of what's to be removed with the parentheses. e.g.,
seqList.pop(3)
print(seqList)

[0, 1, 2, 4, 5, 6]

In [35]:
# Lists can be concatenated using +:
newList = ['a','b','c']
print(seqList)
print(newList)
seqList + newList

[0, 1, 2, 4, 5, 6]
['a', 'b', 'c']

[0, 1, 2, 4, 5, 6, 'a', 'b', 'c']

In [36]:
# One can concatenate copies of a list using * n (this creates a list from n copies):
seqList * 3

[0, 1, 2, 4, 5, 6, 0, 1, 2, 4, 5, 6, 0, 1, 2, 4, 5, 6]

In [37]:
# This is particularly useful for inserting a certain number of zeroes, etc. e.g., let's add 5 zeroes to seqList:
seqList + [0] * 5

[0, 1, 2, 4, 5, 6, 0, 0, 0, 0, 0]

#### 3.1.2: Length and a Convenient Trick

In [38]:
# The length of a list is found using len:
print(seqList)
len(seqList)

[0, 1, 2, 4, 5, 6]

6

In [39]:
# Nice trick: sometimes we want to create a list of strings (which can be somewhat fiddly (commas and quotation marks)).
# The .split() method is particularly useful since we can just insert a character (usually space) between the items and
# then split on the character. For example, instead of 
# ['here', 'are', 'some', 'words', 'to', 'form', 'a', 'list', 'of', 'strings'], we can  just type
"here are some words to form a list of strings".split()

['here', 'are', 'some', 'words', 'to', 'form', 'a', 'list', 'of', 'strings']

### 3.2: Dictionaries

In [40]:
# A set of key-value pairs (to be thought of as a set of values indexed by the keys)

In [41]:
d = {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'a string', 'key 4': 31.2, 12 : 3}

In [42]:
print(d)

{'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'a string', 'key 4': 31.2, 12: 3}

In [43]:
# Now, to call from the dictionary: we don't have indices anymore, so we do so with the keys:

In [44]:
d['key 1']

'value 1'

In [45]:
d['key 3']

'a string'

In [46]:
d[12]

3

In [47]:
# Nesting works the same way: one could have values be dictionaries themselves, or lists, or strings, and so on.

### 3.3: Tuples and Sets

In [48]:
# Tuples are like lists, but formed with parentheses (instead of square brackets). Tuples are IMMUTABLE! One cannot
# reassign values in a tuple.

In [49]:
tup = (1,45,'abc',[1,2,3])

In [50]:
print(tup[0])
print(tup[1])
print(tup[2])
print(tup[2][1])
print(tup[3])

1
45
abc
b
[1, 2, 3]

In [51]:
# Everything goes through as for lists, just can't change values. This goes for appending and popping (they cannot be done!)

In [52]:
# Sets are (unordered) collections of distinct objects. They are defined using curly braces (multiplicities vanish in the 
# process):
set1 = {1,2,4,6,10,2,1,6}
print(set1)

{1, 2, 4, 6, 10}

In [53]:
# They can be converted to lists using list():
list(set1)

[1, 2, 4, 6, 10]

In [54]:
# The same works conversely:
lis = [1,2,'a',1]
set(lis)

{1, 2, 'a'}

In [55]:
# To grow a set, one uses .add(), not .append():
set1.add(5)
print(set1)

{1, 2, 4, 5, 6, 10}

In [56]:
# An element is removed using .remove():
set1.remove(6)
print(set1)

{1, 2, 4, 5, 10}

## Section 4: Booleans, If-Statements, For-Loops, and While-Loops

### 4.1: Booleans

In [57]:
# The usual for equality and inequalities:
print("1==2: ",1==2)
print("1==1: ",1==1)
print("1<2:  ",1<2)
print("1<1:  ",1<1)
print("1<=1: ",1<=1)
print("1>0:  ",1>0)
print("1>=2: ",1>=2)

1==2:  False
1==1:  True
1<2:   True
1<1:   False
1<=1:  True
1>0:   True
1>=2:  False

In [58]:
# "Not equal" is given by "!=":
print("1!=2: ",1!=2)
print("1!=1: ",1!=1)

1!=2:  True
1!=1:  False

In [59]:
# One can perform the usual and, or operations on Booleans using "and" or "or":
print("True and True:   ",True and True)
print("True and False:  ",True and False)
print("False and False: ",False and True)
print("True or True:    ",True or True)
print("True or False:   ",True or False)
print("False or False:  ",False or True)
# This only works on singular Booleans (for Boolean arrays, when we use Numpy, we need to use "&" and "|")

True and True:    True
True and False:   False
False and False:  False
True or True:     True
True or False:    True
False or False:   True

In [60]:
# The above can be done with "&", "|" and "^" (the last is for XOR)
print("True & False: ",True & False)
print("True | False: ",True | False)
print("False ^ True: ",False ^ True)
print("True ^ True:  ",True ^ True)

True & False:  False
True | False:  True
False ^ True:  True
True ^ True:   False

### 4.2: Membership Booleans

In [61]:
# "in" check for membership in a list (or set, etc.)
lis = [1, 2, "a", [1,2], "xy"]
print(2 in lis)
print("a" in lis)
print("b" in lis)
print([1,2] in lis)

True
True
False
True

### 4.3: If, Elif and Else Statements

In [62]:
# Format:
# if [boolean]:
#     [code to perform]
# elif [boolean]:
#     [code to perform]
# elif [boolean]:
#     [code to perform]
# ...
# else:
#     [code to perform]

In [63]:
# Example 1:
num1 = 1
num2 = 2
if num1>num2:
    print("num1 is greater than num2")
elif num2>num1:
    print("num2 is greater than num1")
else:
    print("num1 and num2 are equal")

num2 is greater than num1

In [64]:
# Example 2:
num1 = 3
num2 = 2
if num1>num2:
    print("num1 is greater than num2")
elif num2>num1:
    print("num2 is greater than num1")
else:
    print("num1 and num2 are equal")

num1 is greater than num2

In [65]:
# Example 1:
num1 = 2
num2 = 2
if num1>num2:
    print("num1 is greater than num2")
elif num2>num1:
    print("num2 is greater than num1")
else:
    print("num1 and num2 are equal")

num1 and num2 are equal

In [66]:
# An efficient if-else variable assignment:
var = 0 if 1<0 else 3
print(var)
# This accomplishes the same as the following:
# if 1<0:
#     var = 0
# else:
#     var = 3

3

### 4.4: Loops: For and While Loops

In [67]:
# For-Loops have the format:
# for [dummy name] in [set/list/tuple]:
#     [code to implement]

In [68]:
setEx = {3,1,3,6,(1,2)}
for item in setEx:
    print("set for-loop: ",item)
print("\n")
# Note/recall: sets don't allow for multiplicities, nor do they keep your ordering

listEx = [1,'1a3',[1,2,3]]
for item in listEx:
    print("list for-loop: ",item)
print("\n")
    
tupleEx = (3,1,3,[1,2],1)
for item in tupleEx:
    print("tuple for-loop: ",item)

set for-loop:  1
set for-loop:  (1, 2)
set for-loop:  3
set for-loop:  6


list for-loop:  1
list for-loop:  1a3
list for-loop:  [1, 2, 3]


tuple for-loop:  3
tuple for-loop:  1
tuple for-loop:  3
tuple for-loop:  [1, 2]
tuple for-loop:  1

In [69]:
# While-Loops have the format:
# while [boolean]:
#     [code to implement]

In [70]:
ind = 0
while ind < 10:
    print(ind)
    ind += 1

0
1
2
3
4
5
6
7
8
9

In [71]:
# Let's put these together in a prime searcher (we'll find the first "number"-many primes and put them in a list)
import math   # This is to be able to use the sqrt function.
number = 32
count = 0
current = 2
primes = []
while count < number:
    check = 1
    for prime in primes:
        if prime < math.sqrt(current):
            if current % prime == 0:
                check =0
    if check == 1:
        primes.append(current)
        count += 1
    current += 1
print(primes)

[2, 3, 4, 5, 7, 9, 11, 13, 17, 19, 23, 25, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107]

## Section 5: Range, Tuple Unpacking and List Comprehension

### 5.1: Range

In [72]:
# Python has a range function: range(start,end,step) produces a range of values starting at "start", taking steps of "step", 
# and going up to, but not including, "end".

In [73]:
range(0,10,2)

range(0, 10, 2)

In [74]:
# We can convert this to a list to see what's actually in it:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [75]:
# Similarly, a set:
set(range(0,10,2))

{0, 2, 4, 6, 8}

In [76]:
# This is useful for for-loops. For example:
count = 0
for num in range(0,10,3):
    print("The number at index ",count," in range(0,10,3) is", num)
    count += 1

The number at index  0  in range(0,10,3) is 0
The number at index  1  in range(0,10,3) is 3
The number at index  2  in range(0,10,3) is 6
The number at index  3  in range(0,10,3) is 9

In [77]:
# Now is as good an opportunity to introduce the "enumerate" function that creates tuples whose first entry is the index of 
# an item in an object, and whose second index is the item. In the above example, we can do this for range(0,10,3):
list(enumerate(range(0,10,3)))

[(0, 0), (1, 3), (2, 6), (3, 9)]

### 5.2: Tuple Unpacking

In [78]:
# We can take in a set, list, etc., as the range for a for-loop and perform so-called "tuple unpacking". This is really
# just a way of allowing one to range over each tuple, but actually over the contents of the tuples.

In [79]:
# Let's see how this cleans up the previous example:
for ind, num in enumerate(range(0,10,3)):
    print("The number at index ",ind," in range(0,10,3) is", num)

The number at index  0  in range(0,10,3) is 0
The number at index  1  in range(0,10,3) is 3
The number at index  2  in range(0,10,3) is 6
The number at index  3  in range(0,10,3) is 9

In [80]:
# This can even be put in one line:
for ind, num in enumerate(range(0,10,3)): print("The number at index ",ind," in range(0,10,3) is", num)

The number at index  0  in range(0,10,3) is 0
The number at index  1  in range(0,10,3) is 3
The number at index  2  in range(0,10,3) is 6
The number at index  3  in range(0,10,3) is 9

### 5.3: List Comprehension

In [81]:
# List comprehension is a useful shorthand for building a list via for-loops. One declares the list as follows:
# [[what to do to each entry in some base list] for [dummy variable] in [name of base list]]

In [82]:
# Example:
baseList = [1,2,3,4,5,6,7]
newList = [num ** 3 + 3 for num in baseList]
print(newList)
# We've created a new list by squaring and adding three to each number in the base list.

[4, 11, 30, 67, 128, 219, 346]

In [83]:
# This is much shorter to write than:
baseList = [1,2,3,4,5,6,7]
newList = []
for num in baseList:
    newList.append(num ** 3 + 3)
print(newList)

[4, 11, 30, 67, 128, 219, 346]

In [84]:
# We can do this using "mapping", which we'll see shortly in Section 6 (on functions)

## Section 6: Functions (Declaration, Mapping, Lambda Expressions and Filters)

### 6.1: Defining Functions

In [85]:
# Declared using "def". Here's the general format:

# def [function name]([arguments]):
#     [code]
#   return [what to return] # This is optional: the function needn't actually return anything.

In [86]:
# Example:
def sayHello(name):
    print("Hello, "+name+".")

sayHello("Fermat")

Hello, Fermat.

In [87]:
# Another example:
def poly(num):
    """
    Here's some documentation for this function. This function will cube the given number, then add three.
    
    We can say more things.
    Or not...
    """
    return num ** 3 + 3

poly(3)

30

In [88]:
# In the above example, we included some documentation for the function. To access this, type the function name in 
# the Jupyter notebook, then press [shift + tab].

# For our example, here's what shows up:

# Signature: poly(num)
# Docstring:
# Here's some documentation for this function. This function will cube the given number, then add three.

# We can say more things.
# Or not...
# File:      [file location is in here...]
# Type:      function

### 6.2: Mapping

In [89]:
# One can use "mapping" to apply a functionb to all entries of a list. The format is map(function,list).

In [90]:
# In the earlier example (in 6.1), we defined the function "poly" that is p(x) = x^3 + 3, and we applied this to each
# number in baseList = [1,2,3,4,5,6,7]. We can do this via mapping:

list(map(poly,baseList))

# we then converted the map to a list to see the entries.

[4, 11, 30, 67, 128, 219, 346]

### 6.3 Lambda Expressions: Mapping and Filters

In [91]:
# One can define anonymous functions by not giving them a name. This is called a "lambda expression". 
# The format:
# lambda [arguments]: [what to do to the arguments].

# For example:
lambda x,y : x*y+x+y**2

In [92]:
# We can't actually do anything with this as is, but if we chose to give it a name:
fun = lambda x,y : x*y+x+y**2

In [93]:
# Then we have defined a function:
fun(2,3)
# 6+2+9 = 17

17

In [94]:
# The real point is to define functions locally. In our favourite example, applying poly to baseList, we needn't have taken
# up memory with the function "poly", if that was its sole purpose. We can map without defining poly:
list(map(lambda num: num ** 3 + 3, baseList))

[4, 11, 30, 67, 128, 219, 346]

In [95]:
# FILTERS: we can filter a list using a boolean. i.e., we can return a new list comprised of precisely the elements for
# which the boolean is true.
# We'll do so using lambda expressions. The format is:
# filter(lambda [var]: [boolean expression in terms of "var"], [list to apply to])

# If we want a list, we feed this into list().

In [96]:
# Let's extract all odd numbers from the list
seq = [1,2,6,7,8,9,12,13,14,18,19]
list(filter(lambda num: num%2 != 0, seq))

[1, 7, 9, 13, 19]

## Section 7: Miscellany

### 7.1: Some Useful Methods

In [97]:
# Here is a string:
string = "Hello, my name is Jonathan."

In [98]:
# We can use the .lower() method to make everything lower case:
string.lower()

'hello, my name is jonathan.'

In [99]:
# Similarly for .upper():
string.upper()

'HELLO, MY NAME IS JONATHAN.'

In [100]:
# Here is a dictionary:
dic = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}
print(dic)

{'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'}

In [101]:
# The .keys() method returns the keys of a dictionary:
dic.keys()

dict_keys(['key 1', 'key 2', 'key 3'])

In [102]:
# The .items() method return all key-value pairs (2-tuples):
dic.items()

dict_items([('key 1', 'value 1'), ('key 2', 'value 2'), ('key 3', 'value 3')])

In [103]:
# We can convert this to a list and call out various pairs by index:
list(dic.items())[1]

('key 2', 'value 2')

In [104]:
# The .values() method returns all values:
dic.values()

dict_values(['value 1', 'value 2', 'value 3'])